html,
body {
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
p {
	margin: 0;
	padding: 0.5rem;
	text-align: center;
}

svg {
	font-size: 0.6rem;
}

#canvas {
	width: 1000px;
	height: 600px;
}

.tooltip {
	font-size: 0.8rem;
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}
