html {
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
p {
	margin: 0;
	padding: 1rem;
	text-align: center;
}

svg {
	font-size: 0.6rem;
}

#canvas {
	width: 1000px;
	height: 600px;
}
